{{#if model.length}}
	<section class="main">
		{{input class="toggle-all" type="checkbox" checked=allCompleted}}

		<ul class="todo-list">
			{{#each model as |todo|}}
				<li class="{{if todo.isCompleted 'completed'}}">
					{{input class="toggle" type="checkbox" checked=todo.isCompleted}}
					<label>{{todo.title}}</label>
					<button class="destroy"></button>
				</li>
			{{/each}}
		</ul>
	</section>

	<footer class="footer">
		<span class="todo-count">
			<strong>{{pluralize remaining.length "item"}}</strong> left
		</span>
	</footer>
{{/if}}
